* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1 {
  position: absolute;
  left: 50%;
  top: 50px;
  transform: translateX(-50%);
  background-color: white;
  padding: 10px;
  text-align: center;
}

h1 + h1 {
  transform: translate(-50%, 100%);
}

h4 {
  margin: 0 auto;
}

header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #d33a2c;
}

nav {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

}

section {
  position: relative;
  width: 100%;
}

.seriously {
  position: absolute;
  top: 40px;
  right: 40px;
}

.single-nav {
  width: 155px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: center;
}

.single-nav img {
  margin: 0 auto;
  width: 25px;
}

.icon-info{
  margin: 0 auto;
  font-size: 11px;
}

.topics button {
  width: 150px;
  height: 50px;
  margin-right: 35px;
  padding: 10px;
  border: 4px solid white;
  border-radius: 8px;
  background-color: #d33a2c

}

.articles {
  display: flex;
  min-height: 80vh;
}

.article {
  width: 50%;
  padding: 180px 45px;
}

.left {
  background-color: #bc3428;
}

.right {
  background-color: #c7372a;
}

.article-top {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.article-top img {
  width: 60px;
}

.article-bottom {
  display: flex;
  align-items: flex-start;
}

.article-bottom .tag {
  margin-right: 50px;
}

.go-to-article {
  position: absolute;
  bottom: 75px;

}
